# Ignore all
*
# Don't ignore directories, so we can recurse into them
!*/

# Git
!.gitignore

# Rust
target
!Cargo.toml
!Cargo.lock
!src/**/*.rs
!examples/**/*.rs

# Datasets
!files/dataset.json
!files/download.py
!files/display.py

# Web files
web/pkg
!web/favicon.ico
!web/*.html
!web/*.js

# General files
!README.md
!Makefile
!.github/workflows/rust.yml
!.github/workflows/deploy.yml