# Ignore all
*
# ...except for

# Git
!.gitignore

# Rust Wasm files
!wasm

# Web files
!web

# Datasets
!files/dataset.json
!files/download.py
!files/display.py

# General files
!README.md
!Makefile
!.github/workflows/rust.yml
!.github/workflows/deploy.yml