# Ignore all
*
# Don't ignore directories, so we can recurse into them
!*/

# Git
!.gitignore

# Rust
!Cargo.toml
!Cargo.lock
!src/*.rs
!examples/*.rs

# Datasets
!files/dataset.json
!files/download.py
!files/display.py

# General files
!README.md
!Makefile
!.github/workflows/rust.yml