!dataset.json
!download.py
# MNIST data http://yann.lecun.com/exdb/mnist/
!mnist-test-data.gz
!mnist-test-label.gz
!mnist-training-data.gz
!mnist-training-label.gz

!mnist-testing.tar.gz
!mnist-training.tar.gz
# Python graph sample script
!parse_graph.py